# -------- Project runtime config --------
PROJECT=${PROJECT}
APP_PORT=8081

# MySQL defaults (override per project if you like)
DB_ROOT_PASSWORD=${PROJECT}_root
DB_NAME=${PROJECT}_db
DB_USER=${PROJECT}_user
DB_PASSWORD=${PROJECT}_pass
DB_PORT=3306
